$primaryFont: "Roboto", Arial, sans-serif;
$primaryFontSize: 32px;
$secondaryFontSize: 15px;

:root {
  --var-primary-font-color: #333b41;
  --secondary-font-color: #ffffff;
  --card-font-color: #767474;
  --card-light-font-color: #bdbdbd;
  --title-accent-font-color: #fe9013;
  --active-color: #4b9200;
  --invalid-color: #d31414;
  --accent-font-color: #ffee2e;
  --border-color: #fe9013;
  --primary-bg-color: #e5e5e5;
  --blur-bg-color: rgba(253, 253, 255, 0.52);
  --dark-bg-color: #111115;
  --light-bg-color: #ffffff;
  --light-btn-bg-color: #f1f3f2;
  --light-slider-color: #f5f7f6;
  --dark-btn-font-color: #000000;
  --button-bg-color: #f9804b;
  --icon-fill-color: rgba(196, 196, 196, 0.5);
  --button-bg-gradient: linear-gradient(
    113.96deg,
    #f9804b 1.49%,
    #fe9013 101.44%
  );
  --gradient-bg-color: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --gradient-border-color: linear-gradient(
    45deg,
    #febdab 74%,
    #f3a9f8 66%,
    #e0d8f0 100%,
    #eaf7fe 100%,
    #eaf7fe 100%
  );
  --var-card-bg: #f1f3f2;
  --var-progress-bar-bg-color: #404950;
  --var-progress-bar-color: #72828e;
  --var-light-form-border-color: #929699;
}

$animationSpeed: all 0.5s ease-in-out;

// Разрешения
$Desktop: 1599px;
$tablet: 999px;
$smallTablet: 639px;
$mobile: 319px;
