$className: "header__container";

.#{$className} {
  max-width: 1160px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px; //TODO PP
  padding: 14px 0 14px;
}
