$className: "header__container";

.#{$className} {
  max-width: 1160px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  gap: 63px;
  align-items: center;
  justify-content: flex-start;
  padding: 14px 0 14px;
}
