$className: "testimonials__slider";

.#{$className} {
  display: flex;
  width: 600px;
  height: 6px;
  margin: 20px auto 30px;
  background-color: var(--light-slider-color);
  background-clip: padding-box;
  border: 0.5px solid transparent;
  border-radius: 5px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -0.5px;
    border-radius: inherit;
    background: var(--button-bg-gradient);
  }
}
