$className: "header__link";

.#{$className} {
  cursor: pointer;
  text-decoration: none;
  font-family: $primaryFont;
  color: var(--secondary-font-color);
  @include font-style($weight: 500, $size: 1rem);
  &:hover {
    transition: all 1s;
    background: var(--button-bg-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  &:active {
    color: var(--active-color);
  }
}
