$className: "footer__form-submit";

.#{$className} {
  padding: 0;
  box-sizing: border-box;
  height: 42px;
  width: 129px;
  background-color: var(--light-btn-bg-color);
  border: 1px solid var(--var-primary-font-color);
  border-radius: 5px;
  color: var(--dark-btn-font-color);
  cursor: pointer;
  transition: all 0.5s;
}

.#{$className}:active {
  border: 1px solid var(--active-color);
  color: var(--active-color);
}
