$className: "testimonials__list-item";

.#{$className} {
  list-style: none;
  width: 268px;
  height: 391px;
  padding: 15px 15px 0 16px;
  border-radius: 20px;
  border: 1px solid transparent;
  background: var(--gradient-border-color);
  box-shadow: inset 0px 0px 0px 100vw var(--var-card-bg);
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
