$className: "footer__form-input";

.#{$className} {
  height: 42px;
  width: 228px;
  background-color: transparent;
  border: 0.7px solid var(--button-bg-color);
  border-radius: 2px;
  color: #bdbdbd;
  margin-right: 9px;
  margin-top: 14px;
  box-sizing: border-box;
  font-family: $primaryFont;
  @include font-style($size: 1rem);
  padding: 10px;
  &:valid {
    border: 0.7px solid var(--active-color);
  }
  &:invalid {
    border: 0.7px solid var(--invalid-color);
  }
  &:focus-visible {
    outline: none;
  }
}
