$className: "footer__container";

.#{$className} {
  max-width: 1160px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(3, max-content);
  padding: 41px 0px 50px;
}
