$className: "footer__container";

.#{$className} {
  max-width: 1160px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 34.4% 33.6% 32%;
  grid-template-rows: repeat(3, min-content);
  padding: 41px 0px 50px;
}
