$className: "footer__link";

.#{$className} {
  font-family: $primaryFont;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary-font-color);
  @include font-style($size: 1rem);
  &:hover {
    transition: $animationSpeed;
    background: var(--button-bg-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  &:active {
    color: var(--active-color);
    background: none;
  }
}
