$className: "footer__icon-wrapper";

.#{$className} {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: var(--icon-fill-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.footer__link:active > .#{$className} {
  background: var(--active-color);
  transition: 0.3s ease-in;
}
